<!DOCTYPE html>
<html>
    <head>
        <title> Calculation Complete!</title>
        <link rel = "icon" href = "https://png.pngtree.com/png-vector/20190114/ourmid/pngtree-vector-receipt-icon-png-image_313457.jpg">
        <link rel="stylesheet" href="static/style.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <h1> Your total tip is ${{finalTip}} for a grand total of ${{finalTotal}}!</h1>
        <h1>Each person will pay ${{finalSplit}}.</h1>
        <img src="https://media2.giphy.com/media/l3c5RJr6yRKyyIw00/giphy.gif">
        </br>
        <h2>We are sure your waiter/waitress is ecstatic!</h2>
    </body>
</html>